<!DOCTYPE HTML>
<html>
    <style>
        .main1{
            margin:auto;
            width:"100%";
            padding:50px;
            display: inline-block;


        }
        .main1 img{
            display:block;
            width:60%;
            margin:auto;

        }
    </style>
    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">

                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            
                            {{ if eq .Section "team"}}
                                {{ partial "teammate.html" . }}
                            {{ else if .Params.image }}
                                <header class="major"> 
                                    <h1>{{ .Title }}</h1>
                                </header>
                                <div class="main1"><img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="" /></span>
                                </br>
                            {{ end }}
                            {{ .Content }}
                        </div>
                    </section>
            {{ "<!-- Disqus Inject -->" | safeHTML }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "disqus.html" . }}
                {{ end }}
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
