{{ $resume := $.Param "bio" }}
{{ range site.Data.team.teammates}}
    {{ if eq .shortname $resume}}
        <style>
            .lbcenter {
                margin-left:auto;
                margin-right:auto;
                text-align: center;
                border: 2px solid #FFFFFF;
                width: 50%;
            }
            .icons1{
                float: right
            }
        </style>
        <header class="lbcenter">
            </br> 
            <h2>{{ $.Title}}</h2>
            <h4>{{ .title }}</h4>
            </br>
        </header>
        </br>
        </br>
        <div class="row">
            <div class="column">
                <div class = "10u 12u$(large)">
                    <u><h3>
                        /- Projects.</h3></u>
                    <ul>
                        {{ range .projectroles}}
                            <li> {{ . }}</li>
                        {{ end }}
                    </ul>
                    <u><h3>/- Skills.</h3></u>
                    <ul>
                        {{ range .skills }}
                            <li> {{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>

            
            <div class = "4u 12u$(xxsmall)">
                <blockquote>
                    {{ .background }}
                </blockquote>
            </div>

            <div class="column">
                <div class="12u 12u$(medium)">
                    <div class="pfp">
                        <span class="image right"><img src="{{ .Site.Params.baseURL }}/img/{{ $.Section }}/{{ $.Params.image }}" alt="" /></span>
                    </div>
                    <div class="icons">
                        <ul class="icons icons1">
                            <li><a href="{{ .instagram }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="{{ .github }}" class="icon fa-github"><span class="label">Github</span></a></li>
                            <li><a href="mailto:{{ .email }}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}